<%= render 'shared/error_messages_devices' %>

<div class="control-group">
  <div class="controls">
    <%= f.label :Inventarnummer%>
    <%= f.number_field :inventory_no %>
  </div>
  <div class="controls">
    <%= f.label :Geräteart %>
    <%= f.text_field :kind %>
  </div>
  <div class="controls">
    <%= f.label :Standort %>
    <%= f.text_field :location %>
  </div>
  <div class="controls">
    <%= f.label :Hersteller %>
    <%= f.text_field :vendor %>
  </div>
  <div class="controls">
    <%= f.label :Typ %>
    <%= f.text_field :type_no%>
  </div>
  <div class="controls">
    <%= f.label :Seriennummer %>
    <%= f.text_field :serial_no %>
  </div>
</div>
