<% provide(:title, "Ger채tedetails") %>

<h2>Ger채tedetails</h2>

<p>
  Inventarnummer:  <%= @device.inventory_no %>
</p>
<p>
    Ger채teart:  <%= @device.kind %>
</p>
<p>
    Standort:  <%= @device.location%>
</p>
<p>
    Hersteller:  <%= @device.vendor %>
</p>
<p>
  Typ:    <%= @device.type_no%>
</p>
<p>
  Seriennummer:  <%= @device.serial_no%>
</p>

<%= link_to "Ger채t anpassen", edit_device_path(@device), class: "btn btn-primary pull-right" %>
