<%= render 'shared/error_messages_examinations' %>

<div class="control-group">
  <div class="controls">
    <%= f.label :ergebnis %>
    <%= f.text_field :result %>
  </div>
  <div class="controls">
    <%= f.label :Prüfdatum %>
    <%= f.date_select :date %>
  </div>
</div>
