<%= render 'shared/error_messages_reports' %>

<div class="control-group">
  <div class="controls">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.label :report_file%>
    <%= f.file_field :report_file %>
  </div>
</div>
